<style>
	.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
	.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
	#chat .ui-icon { background:  url(../img/glyphish-icons/09-chat-2.png) 50% 50% no-repeat; background-size: 24px 22px; }
	#email .ui-icon { background:  url(../img/glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px;  }
	#login .ui-icon { background:  url(../img/glyphish-icons/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
	#beer .ui-icon { background:  url(../img/glyphish-icons/88-beer-mug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
	#coffee .ui-icon { background:  url(../img/glyphish-icons/100-coffee.png) 50% 50% no-repeat;  background-size: 20px 24px; }
	#skull .ui-icon { background:  url(../img/glyphish-icons/21-skull.png) 50% 50% no-repeat;  background-size: 22px 24px; }
	#magnify .ui-icon { background:  url(../img/glyphish-icons/06-magnify.png) 50% 50% no-repeat;  background-size: 22px 24px; }
	#baby .ui-icon { background:  url(../img/glyphish-icons/76-baby.png) 50% 50% no-repeat;  background-size: 22px 24px; }
	#upload-photo .ui-icon { background:  url(../img/glyphish-icons/167-upload-photo.png) 50% 50% no-repeat;  background-size: 22px 24px; }
	#macbook .ui-icon { background:  url(../img/glyphish-icons/175-macbook.png) 50% 50% no-repeat;  background-size: 22px 24px; }
	#medical .ui-icon { background:  url(../img/glyphish-icons/10-medical.png) 50% 50% no-repeat;  background-size: 22px 24px; }
</style>